{% extends '/base.html.twig' %}
{% block body %}
    <h1>Liste des castings</h1>
    <form method="GET" class="search">
        <input type="text" name="recherche" value={{ value ? value : '' }}>
        <input type="submit" value="Rechercher">
    </form>
    <section id="container-castings">
        {% if castings and not result %}
                {% for casting in castings %}
                    <div class="casting">
                        <h2>{{ casting.Intitule }}</h2>
                        <p>{{ casting.description }}</p>
                        <a href="{{ path('casting', {'id': casting.id}) }}">Voir le casting</a>
                    </div>
                {% endfor %}
        {% elseif result %}
            {% for casting in result %}
                <div class="casting">
                    <h2>{{ casting.Intitule }}</h2>
                    <p>{{ casting.description }}</p>
                    <a href="{{ path('casting', {'id': casting.id}) }}">Voir le casting</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun casting n'a été trouvé.</p>
        {% endif %}
    </section>
{% endblock body %}
