{% extends '/base.html.twig' %}
{% block body %}

    <h1>Liste des castings</h1>
    <form method="GET" class="search">
        <section id="filtres">
            <div class="metiers">
                <label for="metier">Métier</label>
                <br/>
                <select id="metier" name="metier">
                    <option value="0" name="tous">Tous</option>
                    {% if filters.metiers is defined %}
                        {% for metier in filters.metiers %}
                            <option value="{{ metier.id }}" name="{{ metier.libelle }}">{{ metier.libelle }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="TypesContrats">
                <label for="TypesContrat">Type de Contrat</label>
                <br/>
                <select id="TypesContrat" name="TypesContrat">
                    <option value="0" name="tous">Tous</option>
                    {% if filters.typesContrats is defined %}
                        {% for typeContrat in filters.typesContrats %}
                            <option value="{{ typeContrat.id }}" name="{{ typeContrat.libelleCourt }}">{{ typeContrat.libelleCourt }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            {% if app.user and 'ROLE_ARTISTE' in app.user.roles %}
                <div class="Region">
                    <label for="region">Region</label>
                    <select id="region" name="region">
                        <option value="0" name="tous">Tous</option>
                        {% if filters.regions is defined %}
                            {% for region in filters.regions %}
                                <option value="{{ region.id }}" name="{{ region.nom }}">{{ region.nom }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            {% endif %}
        </section>
        <input type="text" name="recherche" value="{{ value is defined ? value : '' }}">
        <input type="submit" value="Rechercher">
    </form>
    <section id="container-castings">
        {% if result is defined and result is not empty and search == true %}
            {% for casting in result %}
                <div class="casting">
                    <h2>{{ casting.Intitule }}</h2>
                    <p>{{ casting.description }}</p>
                    <a href="{{ path('casting', {'id': casting.id}) }}">Voir le casting</a>
                </div>
            {% endfor %}
        {% elseif castings and search == false %}
                {% for casting in castings %}
                    <div class="casting">
                        <h2>{{ casting.Intitule }}</h2>
                        <p>{{ casting.description }}</p>
                        <a href="{{ path('casting', {'id': casting.id}) }}">Voir le casting</a>
                    </div>
                {% endfor %}
        {% else %}
            <p>Aucun casting n'a été trouvé.</p>
        {% endif %}
    </section>
{% endblock body %}
