{% extends '/base.html.twig' %}
{% block body %}
    {% if casting %}
        <section class="casting">
            <a href="{{ path('castings') }}" class="retour">&#8592; Retour à la liste</a>
            <h1>{{ casting.Intitule }}</h1>
            <div class="flex-container">
                <p class="ref">Ref : {{ casting.Reference }}</p>
                <p>Date de fin : {{ casting.DateDebutPublication|date_modify("+"~ casting.DureeDiffusion ~" hour")|date("d/m/Y H:i") }}</p>
            </div>
            <div class="flex-container">
                <p>Metier : {{ foreignKeys.metier }}</p>
                <p>Type de contrat : {{ foreignKeys.typeContrat }}</p>
            </div>
            <div class="flex-container">
                <p>Sexe recherché : {{ foreignKeys.sexe != null ? foreignKeys.sexe : 'auncun sexe spécifié' }}</p>
                <p>Nombre de Postes disponible : {{ casting.NombrePosteDispo }}</p>
            </div>
            <p class="description">Description : <br/>{{ casting.Description }}</p>
            <p class="description">Profil recherché : <br/>{{ casting.DescriptionProfilRecherche }}</p>
            <div class="contact">
                <h2>Nous Contacter</h2>
                {% if casting.Email %}
                    <a href="mailto:{{ casting.Email }}"><p>Adresse Mail : {{ casting.Email }}</p></a>
                {% endif %}
                {% if casting.NumeroTelephone %}
                    <a href="tel:{{ casting.NumeroTelephone }}"><p>Numéro de Téléphone : {{ casting.NumeroTelephone }}</p></a>
                {% endif %}
                {% if casting.Fax %}
                <p>Fax : {{ casting.Fax }}</p>
                {% endif %}
                {% if casting.AdressePostale %}
                    <p>Adresse Postale : {{ casting.AdressePostale }}</p>
                {% endif %}
            </div>
        </section>
    {% else %}
        <p>Ce casting n'existe pas.</p>
    {% endif %}
{% endblock body %}
