<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MegaProduction - {{ controller_name }} </title>
        <link rel="icon" href={{ asset('build/images/megaproduction_logo.png') }}>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Matomo -->
            <script>
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="//matomo.test/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
            </script>
            <!-- End Matomo Code -->
        {% endblock %}
    </head>
    <body>
        {{ block('navbar', "/blocks/navbar.html.twig") }}
        {% block body %}{% endblock %}
    </body>
</html>
